* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #00c853, #009624);
}

.container {
    background: #fff;
    padding: 35px;
    border-radius: 20px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

h1 {
    color: #2ecc71;
    margin-bottom: 15px;
}

p {
    margin: 10px 0;
    color: #555;
}

#details {
    margin-top: 20px;
    background: #ecf0f1;
    padding: 20px;
    border-radius: 15px;
    text-align: left;
}

.info {
    margin-top: 20px;
    font-weight: bold;
    color: #27ae60;
}
.menu-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background: #00c853;
    color: white;
    border: none;
    padding: 12px 15px;
    font-size: 22px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1001;
}

.sidebar {
    position: fixed;
    left: -260px;
    top: 0;
    width: 250px;
    height: 100%;
    background: linear-gradient(180deg, #1e3c72, #2a5298);
    padding: 30px 20px;
    transition: 0.3s;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar.active {
    left: 0;
}

.logo {
    text-align: center;
    color: rgb(47, 65, 149);
    font-size: 24px;
    margin-bottom: 20px;
}

.menu {
    list-style: none;
}

.menu li {
    color: white;
    padding: 15px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10px;
}

.menu li:hover {
    background: rgba(255,255,255,0.2);
}

.menu li.logout {
    background: #ed6253;
}

.socials {
    display: flex;
    justify-content: space-around;
}

.socials a {
    color: white;
    font-size: 20px;
}

.content {
    padding: 90px 20px;
    transition: margin-left 0.3s;
}

.content.shift {
    margin-left: 250px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}
.btn.cancel {
    background: linear-gradient(135deg, #ff3b3b, #c62828);
    color: #fff;
    border: none;
    padding: 12px 18px;
    border-radius: 14px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    box-shadow: 0 8px 20px rgba(198, 40, 40, 0.5);
    transition: all 0.3s ease;
}

.btn.cancel:hover {
    transform: scale(1.07);
    background: linear-gradient(135deg, #ff5252, #b71c1c);
    box-shadow: 0 12px 28px rgba(183, 28, 28, 0.7);
}

.btn.cancel:active {
    transform: scale(0.96);
}
.btn-group {
    display: flex;
    gap: 12px; /* espace entre les boutons */
    margin-top: 20px;
}
.btn.finish {
    background-color: #28a745; /* vert */
    color: white;
}
.btn.finish:hover {
    background-color: #218838;
}
