* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.app {
    display: flex;
    min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background: #2ecc71;
    color: white;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.menu {
    list-style: none;
}

.menu li {
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.menu li:hover {
    background: rgba(255,255,255,0.2);
}

.logout {
    background: #e74c3c;
}

  .socials {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.socials a {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
}

/* Couleurs officielles */
.socials .facebook {
    background: #1877f2;
}

.socials .instagram {
    background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af);
}

.socials .tiktok {
    background: #000;
}

/* Hover effet */
.socials a:hover {
    transform: scale(1.15);
    opacity: 0.9;
}

   
   


/* CONTENT */
.content {
    flex: 1;
    padding: 30px;
    background: url("image/client-bg.jpg") no-repeat center center;
    background-size: cover;
    overflow-y: auto;
}


.section {
   display: none;
    background: rgba(255, 255, 255, 0.88);
    backdrop-filter: blur(8px);
    padding: 25px;
    border-radius: 15px;
}

.section.active {
    display: block;
}

/* FORM */
label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.btn {
    background: #2ecc71;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn.small {
    margin-bottom: 10px;
}

/* LISTE */
#produitsListe div,
#listeCommandes li {
    background: #ecf0f1;
    padding: 10px;
    margin: 8px 0;
    border-radius: 10px;
}
/* BOUTON MENU */
.menu-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background: #2ecc71;
    color: white;
    border: none;
    font-size: 22px;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1000;
}

/* SIDEBAR DYNAMIQUE */
.sidebar {
    position: fixed;
    left: -260px;
    top: 0;
    height: 100%;
    transition: 0.3s ease;
    z-index: 999;
}

.sidebar.active {
    left: 0;
}

/* CONTENU S’ADAPTE */
.content {
    margin-left: 0;
    transition: 0.3s;
}

.content.shift {
    margin-left: 260px;
}
